/*********************************

main styles

*********************************/

@import "import-styles.css";

body {

  text-align: center;

}

h1 {

  font-size: 72px;
  color: white;

}

p {

  font-size: 20px;

}

/*************************************

Header styles

**************************************/

header {

  background-color: orange;

}
