/*********************************

main styles

*********************************/

body {

  color: #878787;
  margin: 0;
  font-size: 1em;

}

/************************************

Header styles

*************************************/

.main-header {

  background-color: orange;
  
}

.title {

  color: white;
  font-size: 1.625rem; /* 26px/16px */

}

h1 {

  font-size: 5.625rem; /*  90px / 16px  */
  color: white;

}

/***************************************

primary content styles

****************************************/

h2 {

  font-size: 53px;

}

h3 {

  font-size: 20px;
  color: #48525c;

}

.primary-content {

  /*****************

  center text
  ******************/

  text-align: center;

}

/****************************************

Secondary content styles

*****************************************/

ol li {

  background-color: tomato;
  color: white;
  margin-bottom: 5px;

}

/********************************************

Primary content and seconday content styles

*******************************************/

.primary-content,
.secondary-content {

  width: 60%;

}

/*****************************************

Reusable class
for repeating styles among elements

******************************************/

.t-border {

  border-top: 2px solid lightgrey;

}

/*********************************************

Pseudo classes
changes behavior of links and so on

*********************************************/

a:link {

  color: orange;

}

a:visited {

  color: lightblue;

}

a:hover {

  color: forestgreen;

}

a:active {

  color: lightcoral;

}

:focus {

  color: white;
  background-color: orange;


}


/*******************************************

Footer styles

*********************************************/

#main-footer {

  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: solid 10px orange;

}
