/*********************************

main styles

*********************************/

body {

  color: #878787;
  margin: 0;

}

/************************************

Header styles

*************************************/

.main-header {

  background-color: orange;

}

h1 {

  font-size: 90px;
  color: white;

}

/***************************************

primary content styles

****************************************/

h2 {

  font-size: 53px;

}

h3 {

  font-size: 20px;
  color: #48525c;

}

.primary-content {

  /*****************

  center text
  ******************/

  text-align: center;

}

/****************************************

Secondary content styles

*****************************************/



/*****************************************

Reusable class
for repeating styles among elements

******************************************/

.t-border {

  border-top: 2px solid lightgrey;


}

/*******************************************

Footer styles

*********************************************/

#main-footer {

  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: solid 10px orange;



}
